::-webkit-scrollbar {
  display: none;
  }
.button {
  border-radius: 0;
  border: none;
}
.card{
    width: auto;
    height: auto;
    height: 650px;
    background-color:white
}
.card-content.login {
  background-image: linear-gradient(		#31F3A0,  	#08B2E3); 
  background-size: cover;
  border: none;
  height: 700px;
  width: 400px;
  padding: 20px;
}
.card-footer-item.register {
  background-color: #284863;
  width: 400px;
  color: #c4d1ff;
}

.input{
  border-width:1px;
  border-radius:15px;
}

.card-footer {
  width: 400px;
  border: none;
}
.label {
  font-weight: 350;
}


.column {
  height: 200px;
  margin: 10px;
  text-align: center;
  font-size: 1em;
-webkit-box-shadow: -7px 11px 25px -9px rgba(0,0,0,1);
-moz-box-shadow: -7px 11px 25px -9px rgba(0,0,0,1);
box-shadow: -7px 11px 25px -9px rgba(0,0,0,1);
}

.column p {
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
}

.brand {
  min-height: 3rem;
  background: #212;
}

.brand-title, .brand-title:hover, .brand-title:focus {
  color: #fff;
  font-size: 1.5em;
  text-align: center;
  margin-left: 0.6rem;
  text-transform: uppercase;
}

.img{
width: 230px;
height: 100px;
}

.is-active{
border-inline-start-color: red;
}


.container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  
}

/* Darker chat container */
.darker {
  border-color: #ccc;
  background-color: #ddd;
}

/* Clear floats */
.container::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
  
}

/* Style the right image */
.container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

/* Style time text */
.time-right {
  float: right;
  color: #aaa;
}

/* Style time text */
.time-left {
  float: left;
  color: #999;
}
.nameColor{
  color: rgb(144, 185, 72); 
}
.messageColor{
  color: rgb(14,122,254);
}
p{
  color: blue
}

